<div class="container">
  <p>details works!</p>

  <!-- <button
    class = "btn btn-primary"
    (click) = "showPassphrase = !showPassphrase"
  > -->
  <!-- When the button is clicked showPassphrase will toggle. -->
  <button
  class = "btn btn-primary"
  (click) = "onToggleDetails()">
  Display Details</button>
  <p *ngIf="showPassphrase">
    <!-- If showPassphrase is true this paragraph will show. -->
    Secret Passphrase = Taylor Swift Eras Tour!</p>
  <p
  *ngFor = "let count of detailsCounter"
  [ngStyle]="{backgroundColor: count >= 5 ? '#200052' : 'none'}"
  [ngClass]="{countColorWhite: count >= 5}"
  >{{ count }}</p>
</div>
<div class="container">
    <button
  class = "btn btn-primary"
  (click) = "onToggleLyric()">
  Display Details</button>
  <p *ngIf="showLyric">
    Secret Lyric = I'm a nightmare dressed like a daydream!</p>
  <p
  *ngFor = "let count of lyricCounter; let i = index"
  [ngStyle]="{backgroundColor: i >= 4 ? '#200052' : 'none'}"
  [ngClass]="{countColorWhite: i >= 4}"
  >{{ count }}</p>
</div>
